<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Details</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container mt-4">
        <h2>Student Details</h2>
        <div class="card">
            <div class="card-body">
                {% comment %} <h5 class="card-title">{{ student.fname }} {{ student.lname }}</h5> {% endcomment %}
                <p><strong>First Name:</strong> {{ student_detail.fname }}</p>
                <p><strong>Last Name:</strong> {{ student_detail.lname }}</p>
                <p><strong>Email:</strong> {{ student_detail.email }}</p>
                <p><strong>Date of Birth:</strong> {{ student_detail.dob }}</p>
                <p><strong>Mobile:</strong> {{ student_detail.mobile }}</p>
                <p><strong>Gender:</strong> {{ student_detail.gender }}</p>
                <p><strong>Address:</strong> {{ student_detail.address }}</p>
                <p><strong>Department:</strong> {{ student_detail.department.name }}</p>
                <p><strong>Pincode:</strong> {{ student_detail.pincode }}</p>
                <p><strong>Hobbies:</strong> {{ student_detail.hobbies }}</p>
            </div>
        </div>
    </div>

    <!-- Bootstrap JS, Popper.js, and jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
