{% extends "rest_framework/base.html" %}

{% block bootstrap_theme %}
    {% comment %} <link rel="stylesheet" href="https://bootswatch.com/4/cerulean/bootstrap.min.css" type="text/css"> {% endcomment %}
    {% comment %} <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/darkly/bootstrap.min.css" type="text/css"> {% endcomment %}
    {% comment %} <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/journal/bootstrap.min.css" type="text/css"> {% endcomment %}
    {% comment %} <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/flatly/bootstrap.min.css" type="text/css"> {% endcomment %}
    {% comment %} <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/cosmo/bootstrap.min.css" type="text/css"> {% endcomment %}
    {% comment %} <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/litera/bootstrap.min.css" type="text/css"> {% endcomment %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/minty/bootstrap.min.css" type="text/css">
    {% comment %} bootstrap_theme link for different theme {% endcomment %}
{% endblock %}



{% block branding %}
    <a class="navbar-brand" rel="nofollow" href="#">
        Book
    </a>
{% endblock %}