<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Personal Blog</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    {% comment %} <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> {% endcomment %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    
</head>
<body>
    <div class="main">
    <h1>My Personal Blog</h1>
    <a href="{% url "blog_index" %}"><div class="btn btn-primary">Home</div> </a>
    
    <a href="{% url "add_post" %}"><div class="btn btn-primary">Add Post </div> </a>
    <hr>
    <div></div>
    {% block page_title %}{% endblock page_title %}
    {% block page_content %}{% endblock page_content %}
</div>
</body>
</html>
